form {
    border: 1px solid blue;
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

.answers {
    display: flex;
    justify-content:space-between;
}

.submit-div {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    color: white;
    padding: 10px 25px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: #70ad47;
}

h4 {
    text-align: center;
}

input.disabled-radio {
    pointer-events: none;
}

.false_ans:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid red;
}

.false_ans:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid red;
}

.true_ans:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid green;
}

.true_ans:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid green;
}